<template>
  <div id="app">
    <nav class='navbar navbar-expand-md navbar-dark bg-dark'>
      <router-link to="/">
        <a class="navbar-brand">
          <img src="@/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Home
        </a>
      </router-link>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <router-link to="/submit">
            <a class="nav-link">Submit job</a>
          </router-link>
        </li>
      </ul>
      <span class="navbar-text">
        Using API: {{ $apiHostname }}
      </span>
    </nav>
    <div class="container" style="padding-top: 30px;">
      <div class="col-11">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>
