<template>
  <div>
    <div v-if="loading">
      <h2>Loading...</h2>
    </div>
    <div v-else-if="!jobs[0]">
      <h2>No jobs found, submit one or two then come back</h2>
    </div>
    <div v-else>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <td scope="col">Job id</td>
            <td scope="col">Status</td>
            <td scope="col">Submit time</td>
            <td scope="col">End time</td>
            <td scope="col">Details</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="job in jobs" :key="job.id">
            <td scope="row">{{ job.id }}</td>
            <td>
              <div v-if="job.status == 'complete'"><i class="fas fa-check text-success"></i> Complete</div>
              <div v-else-if="job.status == 'error'"><i class="fas fa-ban text-danger"></i> Runtime error</div>
              <div v-else-if="job.status == 'timed out'"><i class="fas fa-skull-crossbones text-danger"></i> Timed out</div>
              <div v-else-if="job.status == 'pending'"><i class="fas fa-spinner fa-spin text-primary"></i> Pending</div>
              <div v-else-if="job.status == 'cancelled'"><i sclass="fas fa-ban text-danger"></i> Cancelled</div>
              <div v-else><i class="fas fa-exclamation-triangle text-warning"></i> {{ job.status }}</div>
            </td>
            <td>{{ (job.submit_time + 'Z') | moment("from", "now") }}</td>
            <td v-if="job.end_time == null">Not completed</td>
            <td v-if="job.end_time != null">{{ (job.end_time + 'Z') | moment("from", "now") }}</td>
            <td>
              <button @click="$router.push('/job/' + job.id)" class="btn btn-primary">
                Job {{ job.id }} details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Home',

  data() {
    return {
      jobs: [],
      error: '',
      loading: true
    }
  },

  created() {
    var url = this.$apiHostname + '/api/v1/job/all'
    axios.get(url)
    .then(response => {
      this.jobs = response.data
      console.log(response)
      this.loading = false
    }).
    catch(e => {
      this.error = e
    })
  }
}
</script>