<template>
  <div>
    <div v-if="!job.id">
      <h2>Loading...</h2>
    </div>
    <div v-else>
      <table class="table">
        <tr>
          <td>Job id</td>
          <td>{{ job.id }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>
            <div v-if="job.status == 'complete'"><i class="fas fa-check text-success"></i> Complete</div>
            <div v-else-if="job.status == 'error'"><i class="fas fa-ban text-danger"></i> Runtime error</div>
            <div v-else-if="job.status == 'timed out'"><i class="fas fa-skull-crossbones text-danger"></i> Timed out</div>
            <div v-else-if="job.status == 'pending'"><i class="fas fa-spinner fa-spin text-primary"></i> Pending (checking status every 3 seconds)</div>
            <div v-else-if="job.status == 'cancelled'"><i sclass="fas fa-ban text-danger"></i> Cancelled</div>
            <div v-else><i class="fas fa-exclamation-triangle text-warning"></i> {{ job.status }}</div>
          </td>
        </tr>
        <tr>
          <td>Execution timeout</td>
          <td>{{ job.timeout }} seconds</td>
        </tr>
        <tr>
          <td>Execution attempts</td>
          <td>{{ job.tries }} out of {{ job.max_tries }}</td>
        </tr>
        <tr>
          <td>Submit time</td>
          <td>{{ (job.submit_time + 'Z') | moment("YYYY-MM-DD HH:mm:ss") }} ({{ (job.submit_time + 'Z') | moment("from", "now") }})</td>
        </tr>
        <tr v-if="job.start_time">
          <td>Execution started</td>
          <td>{{ (job.start_time + 'Z') | moment("YYYY-MM-DD HH:mm:ss") }} ({{ (job.start_time + 'Z') | moment("from", "now") }})</td>
        </tr>
        <tr v-if="job.end_time">
          <td>Execution ended</td>
          <td>{{ (job.end_time + 'Z') | moment("YYYY-MM-DD HH:mm:ss") }} ({{ (job.end_time + 'Z') | moment("from", "now") }})</td>
        </tr>
        <tr v-if="job.dispatched">
          <td>Last dispatch time</td>
          <td>{{ (job.dispatched + 'Z') | moment("YYYY-MM-DD HH:mm:ss") }} ({{ (job.dispatched + 'Z') | moment("from", "now") }})</td>
        </tr>
        <tr>
          <td>Input code</td>
          <td style="text-align: left;"><highlight-code lang="python" style="max-width:720px;">{{ job.code }}</highlight-code></td>
        </tr>
        <tr v-if="job.output">
          <td>Output</td>
          <td style="text-align: left;"><highlight-code lang="plaintext" style="max-width:720px;">{{ job.output }}</highlight-code></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Job',

  data() {
    return {
      job: {},
      error: '',
      timer: '',
      autoUpdate: false
    }
  },

  created() {
    this.getJobInfo()
  },

  beforeDestroy () {
    this.cancelAutoUpdate()
  },

  methods: {
    getJobInfo() {
      var url = this.$apiHostname + '/api/v1/job?id=' + this.$route.params.id
      axios.get(url)
      .then(response => {
        this.job = response.data
        console.log(response)

        if (this.job.status == 'pending' && !this.autoUpdate) {
          // This job is pending and this is the first request, set up a timer
          this.autoUpdate = true
          this.timer = setInterval(this.getJobInfo, 3000)
        } else if (this.job.status != 'pending' && this.autoUpdate) {
          // Job completed in this fetch, cancel the auto update
          this.autoUpdate = false
          this.cancelAutoUpdate()
        }
      }).
      catch(e => {
        this.error = e
      })
    },

    cancelAutoUpdate() {
      clearInterval(this.timer)
    }
  }
}
</script>

