<template>
  <div>
    <div v-if="error != ''">
      <h2 style="color:red;">{{ error }}</h2>
    </div>
    <div>
      <form>
        <div class="form-group">
          <label for="codeArea">Python code (shift + tab will enter a tab character)</label>
          <textarea
            v-model="formData.code"
            class="form-control"
            id="codeArea"
            rows="10"
            onkeydown="if(event.shiftKey){if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}}"
          ></textarea>
        </div>
        <div class="form-row">
          <div class="col-auto" >
            <label for="timeout">Execution timeout (seconds)</label>
            <select v-model="formData.timeout" class="form-control" id="timeout">
              <option>30</option>
              <option selected>60</option>
              <option>180</option>
              <option>300</option>
              <option>600</option>
            </select>
          </div>
          <div class="col-auto">
            <label for="retries">Execution retries</label>
            <select v-model="formData.retries" class="form-control" id="retries">
              <option>0</option>
              <option selected>3</option>
              <option>5</option>
              <option>10</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" @click="submitJob()">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Submit',

  data() {
    return {
      formData: {
        code: '',
        timeout: '180',
        retries: '5'
      },
      error: ''
    }
  },

  methods: {
    submitJob() {
      var url = this.$apiHostname + '/api/v1/job'
      axios.post(
        url,
        {
          code: this.formData.code,
          timeout: parseInt(this.formData.timeout),
          retries: parseInt(this.formData.retries)
        }
      ).then(response => {
        this.$router.push('/job/' + response.data.id)
      }).
      catch(e => {
        this.error = e
      })
    }
  }
}
</script>